<div class="container">
	<h2 class="cabecera">Tu Programa Electoral</h2>

	<p>Compara las propuestas del programa electoral de cada partido y toma una decisión informada sobre a qué partido
		votar en las elecciones generales de 2015</p>
	<h4>Esta página está en proceso de construcción. Si quieres colaborar con su desarrollo, diseño y dotación de
		contenido pásate por <a href="https://github.com/tuprogramaelectoral/tuprogramaelectoral/wiki"
														target="_blank">aquí</a></h4>

	<div class="cookies">
		<div class="alert alert-info alert-dismissible" role="alert">
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<p>
				Utilizamos cookies propias y de terceros para mejorar nuestros servicios e identificarle durante el proceso de
				confección de su programa electoral. Si continúa navegando consideramos que acepta el uso de cookies. Puede
				cambiar la configuración u obtener más información <a href="/politica-de-cookies">aquí</a>.
			</p>
			<button type="button" class="btn-link center-block" data-dismiss="alert">OK</button>
		</div>
	</div>

	<div class="panel-group" id="secciones" role="tablist" aria-multiselectable="true">
		<div id="panel-resultados" class="panel panel-default hidden">
			<div class="panel-heading" role="tab" id="heading-resultados">
				<h3 class="panel-title">Porcentaje de afinidad</h3>
			</div>
			<div id="collapse-resultados" class="panel-collapse" role="tabpanel" aria-labelledby="heading-resultados">
				<div class="panel-body">
					<div id="grafico"></div>
					<button class="btn btn-default" data-ng-click="crearMiPrograma()">Crear mi programa</button>
					<button data-ng-if="!miPrograma.publico" class="btn btn-default" data-ng-click="borrarMiPrograma()">Borrar</button>
				</div>
			</div>
		</div>
		<div id="panel-ambitos" class="panel panel-default hidden">
			<div class="panel-heading" role="tab" id="heading-ambitos">
				<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#secciones" data-target="#collapse-ambitos"
						 aria-expanded="false"
						 aria-controls="collapse-ambitos">
						¿Cúales son los ámbitos en los que estás interesado?
					</a>
				</h3>
			</div>
			<div id="collapse-ambitos" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading-ambitos">
				<div class="panel-body">
					<div data-ng-model="ambitos">
						<form data-ng-submit="seleccionarIntereses()">
							<a class="btn btn-default" data-ng-click="marcarTodosLosAmbitos(true)">Marcar todos</a>
							<a class="btn btn-default" data-ng-click="marcarTodosLosAmbitos(false)">Desmarcar todos</a>
							<div class="lista-intereses">
								<div data-ng-repeat="ambito in ambitos">
									<label>
										<input type="checkbox" name="politicas[{{ ambito.id }}]" data-interes-id="{{ ambito.id }}"
													 data-ng-model="ambito.elegido"
													 class="interes"/>
										{{ ambito.nombre }}
									</label>
								</div>
							</div>
							<button class="btn btn-default" type="submit" value="seleccionar">Confeccionar mi programa</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div data-ng-if="!miPrograma.terminado" data-ng-repeat="politica in misPoliticas | orderBy:'ambito.id'" class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading-{{ politica.id }}">
				<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#secciones" data-target="#collapse-{{ politica.id }}"
						 aria-expanded="false"
						 aria-controls="collapse-{{ politica.id }}">
						{{ politica.ambito.nombre }}
					</a>
				</h3>
			</div>
			<div id="collapse-{{ politica.id }}"
					 class="panel-collapse collapse" role="tabpanel"
					 aria-labelledby="heading-{{ politica.id }}">
				<div class="panel-body">
					<div data-ng-bind-html="politica.contenido"></div>
				</div>
			</div>
		</div>
		<div data-ng-if="miPrograma.terminado" data-ng-repeat="politica in misPoliticas | orderBy:'ambito.id'" class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading-terminado-{{ politica.id }}">
				<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#secciones" data-target="#collapse-terminado-{{ politica.id }}"
						 aria-expanded="false"
						 aria-controls="collapse-terminado-{{ politica.id }}">
						{{ politica.ambito.nombre }}
					</a>
					<small>{{ politica.partido.nombre }}</small>
				</h3>
			</div>
			<div id="collapse-terminado-{{ politica.id }}"
					 class="panel-collapse collapse" role="tabpanel"
					 aria-labelledby="heading-terminado-{{ politica.id }}">
				<div class="panel-body">
					<div data-ng-bind-html="politica.contenido"></div>
					<ul>
						<li data-ng-repeat="fuente in politica.fuentes">
							<small>{{ fuente }}</small>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div data-ng-repeat="ambito in misAmbitos" class="panel panel-default">
			<div class="panel-heading" role="tab" id="heading-{{ ambito.id }}">
				<h3 class="panel-title">
					<a role="button" data-toggle="collapse" data-parent="#secciones" data-target="#collapse-{{ ambito.id }}"
						 aria-expanded="false"
						 aria-controls="collapse-{{ ambito.id }}">
						{{ ambito.nombre }}
					</a>
				</h3>
			</div>
			<div id="collapse-{{ ambito.id }}" data-ng-class="{in: miPrograma.proximo_interes == ambito.id}"
					 class="panel-collapse collapse" role="tabpanel"
					 aria-labelledby="heading-{{ ambito.id }}">
				<div class="panel-body">
					<ul class="nav nav-tabs nav-justified" role="tablist">
						<li role="presentation" data-ng-repeat="politica in ambito.politicas" data-ng-class="{active: $index == 0}">
							<a data-target="#politica-{{ politica.id }}" aria-controls="home" role="tab" data-toggle="tab">
								Opción {{ $index + 1 }}
							</a>
						</li>
					</ul>
					<div class="tab-content">
						<div data-ng-repeat="politica in ambito.politicas" role="tabpanel" data-ng-class="{active: $index == 0}"
								 class="tab-pane" id="politica-{{ politica.id }}">
							<div data-ng-bind-html="politica.contenido"></div>
							<button class="btn btn-default" data-ng-click="elegirPolitica(miPrograma.id, ambito.id, politica.id)">
								Elegir
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="panel-resumen" class="panel panel-default hidden">
		<div class="panel-body">
			<p>Nos gustaría almacenar su programa electoral para realizar estadísticas, en ningún momento guardaremos
				información que pueda identificarle.</p>
			<p>Si acepta podrá acceder siempre que quiera a su selección de políticas e incluso compartirla en redes sociales.</p>
			<p>En caso de no aceptar podrá forzar su borrado o esperar a que sea borrado automáticamente al cabo de 48 horas.</p>
			<div class="center-block">
				<button type="button" class="btn btn-default" data-ng-click="completarPrograma(miPrograma.id, true)">Si acepto</button>
				<button type="button" class="btn btn-default" data-ng-click="completarPrograma(miPrograma.id, false)">No acepto</button>
			</div>
		</div>
	</div>
</div>
