<div class="container">
    <h2>Tu Programa Electoral</h2>
		<p>Compara las políticas del programa electoral de cada partido y toma una decisión informada sobre a qué partido votar en las elecciones generales de 2015</p>
		<h4>Esta página está en proceso de construcción. Si quieres colaborar con su desarrollo, diseño y dotación de contenido pásate por <a href="https://github.com/tuprogramaelectoral/tuprogramaelectoral/wiki" target="_blank">aquí</a></h4>
    <h3>¿Cúales son los ámbitos en los que estás interesado?</h3>
		<div ng-model="ambitos">
			<p class="input-group" ng-repeat="ambito in ambitos">
				<label><input type="checkbox" name="{{ ambito.id }}" class="interes"> {{ ambito.nombre }}</label>
			</p>
		</div>
</div>
